---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '../../layouts/MainLayout.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

export async function getStaticPaths() {
  const allPosts = await getCollection('blog')
  const tags: string[] = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ]

  return tags.map((tag) => {
    const filteredPostByTag = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    )

    return {
      params: { tag },
      props: { posts: filteredPostByTag },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<Layout
  title={`Tag: ${tag}`}
  description={`Tekstovi koji su oznaÄeni tagom ${tag}`}
>
  <Header />
  <main>
    <h1>{tag}</h1>
    <ul>
      {
        posts
          .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
          .map((post) => (
            <li>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
      }
    </ul>
  </main>
  <Footer />
</Layout>
