---
import { getCollection } from 'astro:content'
import Layout from '../layouts/MainLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import TagsList from '../components/TagsList.astro'

const allPosts = (await getCollection('blog')).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const allNews = (await getCollection('news')).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

function getLatestPostFromCollection<T>(
  collection: T[],
  numberOfPosts: number
) {
  if (collection.length > numberOfPosts) {
    return collection.slice(0, numberOfPosts)
  } else {
    return collection
  }
}
---

<Layout>
  <header slot="beforeMain" class="w-full bg-base-200 shadow">
    <div class="container mx-auto mb-16 py-16 px-4">
      <div
        class="flex flex-col gap-8 sm:flex-row sm:items-center sm:justify-center md:gap-16"
      >
        <div class="prose">
          <h1>Programiranje internet stranica</h1>
          <p class="lead">
            Želiti naučiti programirati i tek počinjete sa učenjem - na pravom
            ste mjestu. Ova stranica namjenjena je početnicima i osobama koje
            prave prve korake u svijetu programiranja.
          </p>
          <p>
            Ovdje možete pronaći sadržaj o osnovnim web tehnologijama kao što
            su: <b>HTML</b>, <b>CSS</b> i <b>javaScript</b>.
          </p>
          <img src="/public/forPage/cssHtmlJs.png" alt="html css javascript" />
        </div>
        <div class="min-w-[300px] sm:rounded-lg sm:overflow-hidden">
          <picture>
            <source srcset="/forPage/hero-lg.jpg" media="(min-width: 640px)" />
            <img
              src="/forPage/hero-sm.jpg"
              alt="MDN"
              class="sm:object-cover sm:max-h-[480px]"
            />
          </picture>
        </div>
      </div>
    </div>
  </header>

  <section class="prose mx-auto">
    <h2>Zadnji dodani tekstovi:</h2>
    {
      getLatestPostFromCollection(allPosts, 3).map((post) => (
        <article>
          <header>
            <h3>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h3>
            <time>
              <FormattedDate date={post.data.pubDate} />
            </time>
            <img src={post.data.heroImage} alt="slika za članak" />
          </header>
          <main>
            <p>{post.data.description}</p>
          </main>
          <footer>
            <TagsList tags={post.data.tags} />
          </footer>
        </article>
      ))
    }
  </section>
  <aside
    slot="asideMain"
    class="p-8 w-full border border-primary rounded shadow bg-base-200 lg:max-w-[300px]"
  >
    <h2 class="text-xl font-bold">Vijesti:</h2>
    <ul class="list-disc p-4">
      {
        getLatestPostFromCollection(allNews, 5).map((post) => (
          <li>
            <a href={`/vijesti/${post.slug}`} class="hover:underline">
              {post.data.title}
            </a>
            <p class="text-xs">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </li>
        ))
      }
    </ul>
  </aside>
</Layout>
